<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Exclude>
        <ModulePath>.*EzStream\.CoverageHarness\.dll$</ModulePath>
        <ModulePath>.*EzStream\.CoverageTool\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
  </CodeCoverage>
</Configuration>
